<div class="conversation">
  <h1>You are asking: </h1>
  <p><%= @answer_var %></p>
</div>

<div class="conversation">
  <h1>Your coach's response is: </h1>
  <p><%= @response %></p>
</div>

<%= link_to "Ask a new question", ask_path %>