<h1>STUPID COACHING</h1>
<h5>Ask your coach anything...</h5>

<form action="/answer" method="get"> <%#  THE action= "/answer" CALLS THE URL %>
  <input type="text" name="answer"> <%#  THE name= "answer" IS THE PARAMETER SENT FROM THE URL and method answer in the controller %>
  <input type="submit" value="Ask!">
</form>
